/* ---------------------------Input Data section style----------------------------------- */
body{
    font-family: sans-serif;
    padding: 1%;
    background-image: radial-gradient( circle 759px at -6.7% 50%,  rgba(80,131,73,1) 0%, rgba(140,209,131,1) 26.2%, rgba(178,231,170,1) 50.6%, rgba(144,213,135,1) 74.1%, rgba(75,118,69,1) 100.3% );
    
}

h1{
    text-align: center;
}

#input-box{
    margin: auto;
    width: 70%;
  /* border: 3px solid green; */
    padding: 10px;
    border-radius: 8px;
    background-color: rgb(226, 237, 233);
    
   
}

#input-box input,select {
    border: none;
    width: 100%;
    height: 10vh;
    background-color: inherit;
    outline: none;

}

#input-box input:focus ,select:focus {
    background-color: rgb(214, 221, 218)

}

.other-desc{
    display: flex;
    flex-direction: row;

}

.category{
    width: 45%;
    height: 10vh;
    margin: 1%;
}

.deadline{
    width: 45%;
    height: 10vh;
    margin: 1%;
}
/*---------------------------------- Buttons section style------------------------------------ */
.buttons{
    display: flex;
    justify-content: center;
    

}

.add-task-button,.delete-task-button{
    margin: 2%;
}

#add-button{
    background-color: blue;
    color: white;
    width: 15vw;
    height: 10vh;
    border: none;
    border-radius: 5px;
    
}

#add-button:hover{
    background-color: rgb(21, 21, 161);
}

#delete-task{
    background-color: rgb(136, 16, 16);
    color: white;
    width: 15vw;
    height: 10vh;
    border-radius: 5px;
    border: none;

}
#delete-task:hover{
    background-color: rgb(109, 15, 15);
}
/* ---------------------------------Rendering Task section styling ----------------------*/
.taask{
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
    color:rgb(97, 95, 95);
    border-radius: 7px;
    padding: 2%;
}

.task-list{
    display: flex;
    
}

ul li{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.details{
    display: flex;
    align-items: center;
}


.category-outbox{
    height: 8%;
    width:15%;
    text-align: center;
    color: white;
    margin-right: 2%;
    border-radius: 5px;
}

/*----------------------------------- differnd Colors for Diffrent Categorys Card------------------ */

#College{
    background-color: #71BC78;
}

#Work{
    background-color: #9071bc;
}

#Personal{
    background-color: rgb(255, 89, 0);
}

#Hobby{
    background-color: cornflowerblue;
}

#study{
    background-color: goldenrod;
}

.lists-container{
    display: flex;
    flex-direction: row;
    /* background-color: #8FBC8B; */
    color:white;
}

.lists-container h3{
    text-align: center;
    font-family:"Comic Sans MS", "Comic Sans", cursive;
}

.task-list-container{
    width: 70%;
    margin: 1%;
    padding: 1%;
    background-color: #71BC78;
    border-radius: 5px;
}

/* --------------------------------Completed Task Style------------------------------ */

.completed-task-list{
    position: relative;
    width: 27%;
    margin: 1%;
    padding: 1%;
    background-color:#60a566ed;
    border-radius: 5px;
}

.completed-task-list a{
    position: absolute;
    top: 90%;
    left: 20%;
    color: black;
    display: inline-block;
    text-decoration: none;

    text-align: center;
}
